

h1 {
	text-align:center;
}

.gauche {
	width:44.5%;
	float:left;
	padding:10px;
	background: rgba(0, 0, 0, .1);
	height:100%;
	border : 5px white solid;
	
}
.droite {
	width:44.5%;
	float:right;
	margin-right:5%;
	padding:10px;
	background: rgba(0, 0, 0, .1);
	height:100%;
	border : 5px white solid;
}

.imgAccueil {
	width:90%;
	height:auto;
	margin-left:5%;
	box-shadow: -2px 4px 10px 2px rgba(0, 0, 0, 0.7); 
}
